@media only screen and (max-width: 650px) {
    .nations{ display: none }
    .nav-list li a { padding: 3vh !important }
    .box{
        height: 70vh;
        margin-top: 10px;
        width: 90%;
    }
    .box ul{
        height: 69vh;
    }
    .box ul li{
        padding-top: 10px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }
    #player{
        padding: 10px;
        height: 15vh;
        flex-direction: column;
    }
    #nowplaying{
        font-size: medium;
        width: 80%;
        text-align: center;
        margin-bottom: 8px;
    }
    .btns{
        width: 90%;
        justify-content: space-around;
    }
    .btns img{
        width: 40px;
        height: 40px;
    }
}