@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

body{
    background-color: #1e1e1e;
    scroll-behavior: smooth;
    overflow: hidden;
}

.nav-list {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #000;
    z-index: 99;
}

.nav-list ul li a, .nav-list img, .nav-list ul li span {
    display: block;
    color: white;
    text-align: center;
    padding: 4vh;
    text-decoration: none;
}

.search-mode{ left: 0 !important; transition: 750ms; }

#brwbtn, #favbtn{
    background-color: #000;
}

.nav-list li a:hover {
    background-color: #111;
}

#player{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 18vh;
    width: 100vw;
    background-color: #000;
    z-index: 99;
}

#nowplaying{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

#nowplaying > * {
    margin: 0 0.5rem;
    padding: 0.75rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: larger;
    font-family: 'Comfortaa', cursive;
    font-style: italic;
    border-radius: 1rem;
}

.btns{
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.btns img{
    user-select: none;
    width: 3em;
    height: 3em;
    cursor: pointer;
    z-index: 100;
    color: #fff;
}

.vol-slider::after{
    content: '';
    width: 100vh;
    background-color: #fff;
}

#interact{
    overflow: hidden;
    color: #fff;
    background-color: #1e1e1e;
    height: 80vh;
    width: 100vw;
}

#interact section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    margin: auto;
    padding-top: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 50%;
    width: auto;
    max-width: 90%;
    /* min-height: 75%; */
    height: 71vh;
    /* max-height: 95%; */
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #fff;
    border-radius: 1.5em;
}

.box ul{
    list-style-type: none;
    width: 80%;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.box ul::-webkit-scrollbar{ width: 0.5rem }
.box ul::-webkit-scrollbar-track{ background-color: #000; border-radius: 2rem }
.box ul::-webkit-scrollbar-thumb{ background-color: #1e1e1e; border-radius: 2rem; cursor: grab }

.box ul li{
    display: flex;
    justify-content: space-between;
}
